# Python cache and compiled files
**/__pycache__/
*.pyc

# Virtual environments
.venv/

# Local database
assistant_memory.db

# Model files
models/
*.gguf

.env

credentials.json

assistant/skills/token.json
token.json

pet/test_main.py
